---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import TrustStrip from "../components/TrustStrip.astro";
import SubjectAreas from "../components/SubjectAreas.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <Header />

  <main>
    <Hero />
    <TrustStrip />
    <SubjectAreas />
    <ContactCTA />
  </main>

  <Footer />
</BaseLayout>